<section class="about-us">
  <div class="about-content">
    <h2>Sobre Nosotros</h2>
    <p>
      Somos la <strong>Unión Vecinal Las Malvinas S.R</strong>, ubicada en el distrito
      de Las Malvinas, departamento de San Rafael, Mendoza. Nuestra misión es
      garantizar el acceso al agua potable para todos los vecinos, fortaleciendo
      la unión comunitaria y promoviendo un futuro sostenible.
    </p>
    <p>
      Nos comprometemos firmemente con la <strong>transparencia</strong> en
      todas nuestras acciones y decisiones, trabajando de la mano con la
      comunidad para desarrollar proyectos que mejoren la calidad de vida en
      nuestro distrito. Juntos, aspiramos a crecer y enfrentar los desafíos
      futuros, siempre con la participación activa de nuestros vecinos.
    </p>

    <div class="img-community">
      <!-- <p-button label="Conócenos Más" icon="pi pi-info-circle"></p-button> -->
    </div>
  </div>
  <div class="about-image">
    <img
      src="images/banners/communityNew.png"
      alt="Agua limpia y comunidad"
      class="responsive-image"
    />
  </div>
</section>
