<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="/images/logo/logoCoop.png" alt="Logo de la Cooperativa">
      <p *ngIf="!isMobile"><span class="titleNav">Cooperativa El Escorial</span></p>
    </div>

    <ul *ngIf="!isMobile" class="nav-links">
      <li><a routerLink="/"><i class="pi pi-home"></i> Inicio</a></li>
      <li><a routerLink="/nosotros"><i class="pi pi-users"></i> Nosotros</a></li>
      <li><a routerLink="/contacto"><i class="pi pi-envelope"></i> Contáctanos</a></li>
    </ul>



    <div class="login-btn"  >
      <p-button label="" icon="pi pi-user" routerLink="/login" severity="secondary"></p-button>
    </div>
  </div>
</nav>


<app-mobile-nav *ngIf="isMobile"></app-mobile-nav>

