<section class="hero flex align-items-center justify-content-center">
  <div class="hero-content">
    <h1>El agua nos une, la comunidad nos fortalece</h1>
    <p>Somos más que una cooperativa, somos vecinos cuidando lo nuestro. Con cada esfuerzo y cada gota, construimos juntos un futuro más seguro y sostenible. ¡Gracias por ser parte de esta gran familia!</p>
    <div class="hero-buttons flex gap-2">
      <!-- <p-button class="primaryButton" label="Servicios" icon="pi pi-check" iconPos="right" /> -->
      <!-- <p-button label="Servicios" icon="pi pi-check" iconPos="right" /> -->

    </div>
  </div>
  <div class="hero-image">
    <img src="images/banners/waterball.png" alt="Agua limpia y comunidad" class="responsive-image" />
  </div>
</section>
